  {
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": "last 2 Chrome versions"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-external-helpers"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },
  "ignore": ["node_modules/**"]
}